/* Main column width */
.wp-block {
    max-width: 1080px;
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

/* Image row block group */
.image-row .wp-block-group__inner-container {
    display: flex;
}

.image-row .wp-block-group__inner-container > * {
    padding-right: 8px;
}

/* Remove pullquote borders */
.wp-block-pullquote {
    border: none;
}
