/* General */

@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin transition-delay {
  @include transition;
  transition-delay: 0.3s;
}

@mixin body-large {
  font-size: 18px;
  line-height: 1.5em;
}

@mixin body-small {
  font-size: 18px;
  line-height: 1.444em;
}

@mixin body-mini {
  font-size: 14px;
  line-height: 1.57em;
}

@mixin body-tiny {
  font-size: 10px;
  line-height: 1.4em;
}

@mixin h1-small {
  font-size: 2em;
  line-height: 1.333em;
}

@mixin h2-large {
  font-size: 2.25em;
  line-height: 1.361em;
}

@mixin h3-small {
  font-size: 1.375em;
  line-height: 1.409em;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  border: 10px solid #000;
  font-size: 16px;
  line-height: 1.563;
  font-family: "Euclid Flex", Helvetica, Arial, sans-serif;
  font-weight: 400;

  &::before,
  &::after {
    content: "";
    position: fixed;
    background: #000;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 9999;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.admin-bar {
    min-height: calc(100vh - 32px);

    &::before {
      top: 32px;
    }

    #page {
      min-height: calc(100vh - 52px);
    }
  }
}

#page {
  min-height: calc(100vh - 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  &:first-of-type {
    margin-top: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  @include transition;

  &:hover {
    opacity: 0.7;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Header */

.main-header {
  position: fixed;
  width: calc(100% - 20px);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 1.4;
  z-index: 10;
  @include transition;

  &--fixed {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__logo {
    display: block;
    height: 38.4px;
    fill: #000;

    .main-header--light:not(.main-header--fixed) & {
      fill: #fff;
    }
  }

  .hamburguer {
    position: absolute;
    top: 18px;
    right: 18.5px;
    padding: 18.5px 5px;
    margin: 0;
    border: none;
    background: none;
    appearance: none;
    z-index: 10;
    cursor: pointer;
    @include transition();

    &__container {
      &::before,
      &::after {
        width: 1.5em;
        height: 3px;
        background: #000;
        @include transition();
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 5px;
      }

      &::before {
        top: 9px;
      }

      &::after {
        bottom: 9px;
      }
    }

    &__middle {
      position: relative;
      left: 0;
      width: 1.5em;
      height: 3px;
      background: #000;
      @include transition();
    }
  }

  &--active {
    .hamburguer {
      &__container {
        &::before {
          top: 8px;
          left: 9px;
          transform: rotate(45deg);
          transform-origin: left;
        }

        &::after {
          bottom: 8px;
          left: 9px;
          transform: rotate(-45deg);
          transform-origin: left;
        }
      }

      &__middle {
        left: -100%;
        opacity: 0;
      }
    }
  }

  &__logo-img {
    width: 192px;
  }

  &__button {
    display: none;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &__menu {
    margin: 0 0 0 24px;
    display: flex;

    .menu-item {
      margin: 0 16px;
      position: relative;

      &:last-of-type {
        margin-right: 0;
      }

      &.current-menu-item:not(.wpml-ls-item) > a,
      &.current-menu-parent:not(.wpml-ls-item) > a,
      &.current_page_parent:not(.wpml-ls-item) > a {
        color: #000;
        opacity: 1;
      }

      a {
        @include transition;
        position: relative;
        color: #666;

        &:hover {
          color: #000;
          opacity: 1;
        }

        .main-header--light:not(.main-header--fixed) & {
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }

      &-has-children {
        & > a {
          padding-right: 20px;
          &::after {
            content: ">";
            transform: rotate(90deg);
            display: block;
            position: absolute;
            right: 0;
            top: 1px;
          }
        }
      }
    }

    .sub-menu {
      @include transition;
      position: absolute;
      left: -8px;
      visibility: hidden;
      opacity: 0;
      z-index: 999;

      .menu-item {
        margin: 0;
        a {
          display: block;
          padding: 8px;
        }
        &:first-of-type a {
          padding-top: 16px;
        }
      }
    }
  }
}

.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

// Content

.main-content {
  padding-top: 80px;
}

// Footer

.footer {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 21px;

  &__col {
    flex-grow: 1;

    &--exhibition {
      font-size: 12px;
      line-height: 13px;
      font-weight: 700;
    }

    &--credits {
      text-align: center;
      flex-grow: 2;
    }

    &--contact {
      text-align: right;
    }
  }

  &-exhibition {
    &__link {
      display: block;
    }

    &__title {
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 8px;

      &--none {
        margin-bottom: 0;
      }
    }

    &__name {
      margin: 8px 0 8px;
      font-style: italic;
    }

    &__artists {
      margin: 8px 0;
      padding-left: 0;
      list-style: none;
    }

    &__name::after,
    &__artists::after {
      content: "";
      display: block;
      width: 40px;
      height: 2px;
      margin-top: 6px;
      background: #000;
    }

    &__dates {
      margin: 8px 0 0;
    }
  }

  &__email {
    display: inline-block;
    margin-bottom: 1.5em;
  }

  &__legal-links {
    margin-bottom: 0;

    a {
      font-weight: inherit;
      text-decoration: underline;
    }
  }

  &__social-links {
    display: flex;
    justify-content: flex-end;
  }
}

.svg-sprites {
  display: none;
}

.sm-icons {
  &__svg {
    display: block;
    width: 40px;
    height: 40px;
  }

  &__link {
    display: block;
    margin: 0 5px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__g {
    &:hover {
      & .sm-icons__circle {
        fill: #fff;
      }

      & .sm-icons__brand {
        fill: #000;
      }
    }
  }

  &__circle,
  &__brand {
    @include transition;
  }

  &__border {
    fill: none;
    stroke: #000;
    stroke-width: 2;
  }

  &__circle {
    fill: #000;
  }

  &__brand {
    fill: #fff;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.mc-section {
  max-width: 1480px;
  width: 90%;
  margin: auto;
  padding: 4em 0;

  &--no-padding {
    padding: 0;

    &-top {
      padding-top: 0;
    }

    &-bottom {
      padding-bottom: 0;
    }
  }

  &--half-padding {
    padding: 2em 0;
  }

  &--cuarter-padding {
    padding: 1em 0;
  }

  &--full-width {
    width: 100%;
    max-width: 100%;
  }

  &__title {
    @include h2-large;
    margin: 0 0 3rem;
    text-align: center;
  }
}

.btn,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt {
  @include transition;
  display: inline-block;
  text-transform: uppercase;
  padding: 6px 14px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background: #000;
  border: 2px solid #000;
  border-radius: 0;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;

  &--small {
    @include body-tiny;
    padding: 4px 8px;
  }

  &:hover {
    background: #fff;
    color: #000;
    opacity: 1;
  }

  &--alt {
    padding: 6px 30px;
    background: #fff;
    border-color: #fff;
    color: #000;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.title-line {
  @include body-small;
  font-weight: 700;
  padding-bottom: 3.5rem;
  margin: 0;
  position: relative;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 50%;
    display: block;
    height: 32px;
    width: 2px;
    margin: auto;
    background: #000;
    @include transition;
  }
}

/********
 * HOME *
 ********/

.home {
  #page {
    position: relative;
  }

  .main-header:not(.main-header--fixed) {
    background: none;
  }

  .main-content {
    padding-top: 0;
  }
}

// Slider

.hero-slider {
  &__title {
    font-size: 48px;
    line-height: 1.333;
  }

  &__slide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &--light {
      color: #fff;
    }

    &--cover {
      background-size: cover;
    }
  }

  &__arrow {
    @include transition;
    position: absolute;
    display: block;
    top: 50%;
    height: 32px;
    width: 20px;
    padding: 0;
    z-index: 2;
    fill: #000;
    background-color: transparent;
    opacity: 0.3;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    line-height: 1;

    .hero-slider--light & {
      fill: #fff;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }

    &--left {
      left: 2em;
    }
    &--right {
      right: 2em;
    }
    &--disabled {
      opacity: 0.33;
    }
  }

  &__overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 20px);
    padding: 6em 0;
    margin: auto;
    text-align: center;
  }

  &__title,
  &__text,
  &__button {
    max-width: 600px;
    z-index: 1;
  }

  &__button {
    font-size: 16px;
    line-height: 1.563;
  }
}

/*******
 * 404 *
 *******/

.error404 {
  &__container {
    text-align: center;
  }

  &__404 {
    font-size: 120px;
    line-height: 1.25;
    font-weight: 700;
    opacity: 0.3;
    margin: 0 0 2rem;
  }

  &__title {
    text-transform: uppercase;
  }

  &__content p {
    margin: 2em;
  }
}

/********
 * ARCHIVE *
 ********/

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    width: 280px;
    margin: 0.5em;

    .grid--posts & {
      width: 360px;
      margin: 1em;
    }

    &:hover {
      .grid__overlay {
        width: calc(100% - 2em);
        height: calc(100% - 2em);
        margin: 1em;
        padding: 1em;

        .grid--posts & {
          opacity: 1;
        }
      }

      .grid__header {
        top: -1em;
      }

      .grid__button {
        opacity: 1;
        bottom: 3em;
      }
    }

    &--posts {
      justify-content: space-between;
    }
  }

  &__container {
    min-height: 185px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .grid--posts & {
      min-height: 240px;
    }
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;

    &:hover {
      opacity: 1;
    }

    .grid--posts & {
      height: auto;
    }
  }

  &__overlay {
    @include transition;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2em;
    background: rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;

    .grid--posts & {
      margin: 1em;
      padding: 1em;
      width: calc(100% - 2em);
      height: calc(100% - 2em);
      opacity: 0;
    }
  }

  &__header {
    margin: 1.5em 0 1em;
    position: relative;
    top: 0;
    @include transition;

    .grid--posts & {
      position: initial;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    @include transition;

    &:hover {
      opacity: 0.7;
    }

    .grid--posts & {
      text-align: left;
    }
  }

  &__button {
    position: absolute;
    bottom: 2em;
    opacity: 0;

    .grid--posts & {
      position: static;
    }

    &--line::before {
      content: "";
      width: 2px;
      height: 2em;
      left: calc(50% - 1px);
      position: absolute;
      bottom: 3em;
      background: #000;
    }
  }
}

.filters {
  margin-top: -2em;
  text-align: center;

  &__btn {
    position: relative;
    padding: 0 0 2.5rem;
    margin-bottom: 1em;
    appearance: none;
    border: none;
    background: none;
    font-size: 12px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 47px;
      left: calc(50% - 16px);
      display: block;
      height: 2px;
      width: 32px;
      margin: auto;
      background: #000;
      @include transition;
    }
  }

  &__list {
    height: 0;
    margin: 0 0 3em;
    list-style: none;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    @include transition;

    li {
      opacity: 0.3;
      @include transition;

      &:hover,
      &:hover a,
      &.current-cat {
        opacity: 1;
      }
    }
  }

  &--active {
    .filters {
      &__btn::after {
        transform: rotate(-90deg);
      }

      &__list {
        height: 750px;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.pagination {
  text-align: center;

  .page-numbers {
    font-weight: 400;
    margin: 0 1px;

    &.current {
      font-weight: 700;
    }

    &.prev {
      margin-right: 8px;
      margin-left: 0;
    }

    &.next {
      margin-right: 0;
      margin-left: 8px;
    }
  }
}

.form {
  max-width: 360px;
  margin: auto;
  text-align: center;

  .happyforms-flex {
    margin: 0;
    padding: 0;
  }

  .happyforms-form__part {
    margin: 0 0 1em;
    padding: 0;
  }

  .happyforms-part__description {
    display: none;
  }

  &__input {
    .happyforms-part__label {
      margin-bottom: 0.5em;
      font-weight: 700;
      text-transform: uppercase;
    }

    input {
      border: 2px solid #000;
      height: 34px;
      text-align: center;
    }
  }

  &__consent {
    label.option-label {
      justify-content: center;
      align-items: center;
      align-items: flex-start;
      font-size: 14px;
      line-height: 20px;
      color: #666666;
      padding-bottom: 0;

      input {
        position: relative;
      }

      .label {
        padding-left: 3px;

        a {
          color: #000;
          font-weight: inherit;
        }
      }
    }
  }

  &__btn {
    margin: auto !important;
    cursor: pointer;
  }
}

.single-post {
  display: flex;

  &__col {
    &--1 {
      width: 41.6667%;
      margin-right: 2em;
    }

    &--2 {
      flex: 1;
    }
  }

  &__date {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
}

.share {
  max-width: 190px;
  text-align: center;
  margin-top: 2em;

  &__btns {
    display: flex;
    justify-content: center;
  }
}

/**********
 * SINGLE *
 **********/

.single {
  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__share {
    .share {
      margin: auto;
    }
  }
}

.extra {
  margin: 0 auto 4em;

  &__sub-container {
    margin-bottom: 2em;
  }

  &__subtitle {
    @include body-large;
  }

  &__container {
    margin: 1em 0;

    &:first-of-type,
    &:first-of-type .extra__title {
      margin-top: 0;
    }
  }

  &__title {
    @include body-large;
    margin: 1rem 0 0.5rem;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;

    &--column {
      & .extra__item {
        display: block;
      }
      & .extra__link {
        font-weight: 700;
        @include body-large;

        &::after {
          content: "";
        }
      }
    }
  }

  &__item {
    display: block;
    margin-bottom: 0.25rem;
  }

  &__link {
    font-weight: 400;
  }
}

/**************
 * Exhibition *
 **************/

.exhibition {
  &__type {
    text-align: center;
    font-weight: 700;
    padding-bottom: 1em;

    &::after {
      padding-bottom: 1em;
      height: 6em;
      text-align: center;
      font-weight: 700;
      z-index: 1;
    }

    &--past {
      padding-bottom: 7em;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    opacity: 0.3;
    @include transition();

    &--prev {
      left: 0;
      transform: rotate(-90deg) translate(-50%);
      transform-origin: top left;
    }

    &--next {
      right: 0;
      transform: rotate(90deg) translate(50%);
      transform-origin: top right;
    }

    a:hover {
      opacity: 1;
    }

    span {
      display: block;

      &::before {
        content: "";
        display: block;
        margin: auto;
        width: 13.6px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE3MCAyMDAiPjxwYXRoIGQ9Ik0xNDYuMDggMTA4LjM3bC00NC40NC00NC40M1YyMDBINjguMzZWNjMuOTRsLTQ0LjQ0IDQ0LjQzTDAgODUuMDYgODQuOSAwIDE3MCA4NS4wNnoiLz48L3N2Zz4=);
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}

.current-exhibitions {
  max-width: 800px;
  margin: 0 auto 5em;
}

.current-exhibition {
  margin: 1em;
  text-align: center;

  &__link {
    display: block;

    &:hover {
      opacity: 1;
    }
  }

  &__container {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__overlay {
    margin: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.7;
    @include transition;

    .current-exhibition:hover & {
      opacity: 1;
    }
  }

  &__header {
    position: relative;
    padding: 7em 2em;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    @include h1-small;
  }
}

.past-exhibitions {
  &__year {
    margin: 1rem auto 1rem;
    text-align: center;
    @include h1-small;
  }

  &__toggle {
    font-weight: 700;
    background: none;
    border: none;
    appearance: none;
    opacity: 0.3;
    cursor: pointer;
    @include transition;

    &:hover,
    .past-exhibitions__group--active & {
      opacity: 1;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em auto;
  }
}

.past-exhibition {
  &__link {
    display: block;

    &:hover {
      opacity: 1;
    }
  }

  &__container {
    width: 280px;
    margin: 1em;
    margin-bottom: 2em;
  }

  &__image {
    min-height: 185px;
    position: relative;
    margin-bottom: 0.5em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1em;
    left: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    @include transition;

    .past-exhibition__container:hover & {
      opacity: 1;
    }
  }

  &__header {
    @include transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__title {
    margin: 0;
    @include body-small;
  }

  &__date {
    @include body-mini;
    font-weight: 400;
  }
}

.single--exhibition {
  .single__header {
    position: relative;
    padding: 0 3em;
  }

  &__artists {
    padding-left: 0;
    list-style: none;
  }

  &__artist {
    h2 {
      margin: 0;
      text-transform: uppercase;
      @include h3-small;
    }
  }

  &__title {
    @include h2-large;
    margin: 0;
    text-transform: uppercase;
  }

  &__date {
    font-weight: 700;
    margin-bottom: 2em;
  }
}

/****************
 * Viewing Room *
 ****************/

.single-viewing-room {
  .gray-bg {
    background: #f2f2f2;
  }

  .wp-block-columns {
    min-height: 100%;

    figure {
      margin: 0 auto;
    }

    .wp-block-image {
      margin-bottom: 0;

      img {
        display: block;
      }
    }
  }

  .is-vertically-aligned-center {
    background: #f2f2f2;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-self: stretch;
    padding: 4em 0;

    & > * {
      padding-left: 4rem;
      padding-right: 4rem;
      margin-top: 0 !important;
    }

    blockquote {
      font-size: 20px;
      margin: 1em 0 2em !important;

      p {
        font-size: inherit;
        margin-bottom: 0.2em;
      }

      cite {
        font-size: 0.7778em;
        opacity: 0.8;
      }
    }
  }

  .wp-block-group.text-cols {
    background: #f2f2f2;

    .wp-block-group__inner-container {
      padding: 4em;
      columns: 300px 3;
      column-gap: 4em;
    }

    .text-cols-all {
      column-span: all;
    }

    .has-medium-font-size:not(:first-of-type) {
      margin: 1.563em 0;
    }
  }

  .single {
    &__title {
      font-size: 4.5em;
    }
  }

  .extra {
    &__link {
      font-size: 2.25em;
    }
  }
}

/*********
 * About *
 *********/

#map-canvas {
  height: 500px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cols {
  display: flex;
  flex-wrap: wrap;
}

.col-half {
  flex: 1;
  margin: 0 2em;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.about {
  &__image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 2em;
  }

  &__schedule {
    margin-top: 2em;
    text-align: center;

    &-content {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;

    &-part {
      padding: 1em;
      width: 20%;
      min-width: 200px;
    }
  }
}

/***********
 * Artwork *
 ***********/

.artwork-small {
  &__thumbnail {
    img {
      display: block;
      margin: auto;
    }
  }

  &__short {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
  }

  &__info {
    width: calc(100% - 152px);
  }

  &__title,
  &__artist {
    margin: 0;
    @include body-large;
    font-weight: 700;
  }

  &__excerpt,
  &__price {
    margin: 0.5em 0;
  }
}

.overlay-artwork {
  padding: 2em;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  background: #fff;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  border: 10px solid #000;
  @include transition;

  &--active {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 99999;
  }

  &__close {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    padding: 0.5em;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    font-weight: 700;
  }

  &__cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1480px;
    margin: auto;
  }

  &__left {
    width: calc(70% - 2em);
    height: 100%;
  }

  &__right {
    width: 30%;
    max-height: 100%;
    padding-right: 1em;
    overflow-y: auto;
  }

  &__title,
  &__artist {
    @include h3-small;
    font-weight: 700;
  }

  &__short {
    margin: 1em 0;
  }

  &__excerpt {
    margin-bottom: 0;
  }

  &__availability {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
  }

  &__inquire {
    margin: 1em 0;
  }

  &__inquire-title,
  &__desc-title {
    @include body-large;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__about {
    margin: 1em 0;
  }

  .happyforms-form {
    .happyforms-flex {
      margin: 0;
    }

    &.happyforms-styles {
      .happyforms-part {
        &__label .label {
          @include body-mini;
        }

        input[type="text"],
        input[type="email"],
        textarea {
          @include body-mini;
          padding: 5px 0;
        }

        &--legal .happyforms-part__el .label {
          padding-left: 10px;
          font-size: 12px;
          line-height: 1.49em;

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.artwork-slider {
  height: 100%;

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }

  .slick-slide img {
    max-height: 100%;
    width: auto;
  }
}

.mc-hidden {
  display: none !important;
}

.mc-no-overflow {
  overflow: hidden;
}

/***************
 * WooCommerce *
 ***************/

// Lightbox

.pswp__bg {
  background: rgba(0, 0, 0, 0.7);
}

.pswp__caption {
  display: none;
}

// General

.woocommerce .page-title,
.woocommerce .entry-title {
  @include h2-large;
  margin: 0;
}

.woocommerce .page-title {
  text-align: center;
}

.woocommerce input[type="text"],
.woocommerce input[type="email"],
.woocommerce input[type="password"],
.woocommerce input[type="tel"],
.woocommerce input[type="number"],
.woocommerce textarea,
.select2-container--default .select2-selection--single {
  min-height: 36px;
  border: 2px solid #000;
  border-radius: 0;
}

.woocommerce input {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.woocommerce textarea {
  padding: 0.5em;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  min-height: 32px;
  padding-top: 6px;
  padding-bottom: 5px;
  line-height: normal;
  color: #000;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
  @extend .btn;
  color: #fff;

  &:hover {
    @extend .btn;
    cursor: initial;
    opacity: 0.5;
  }
}

// Loop

.woocommerce ul.products li.product a {
  &:hover {
    opacity: 1;
  }
}

.woocommerce ul.products li.product {
  .product {
    &__thumbnail-wrapper {
      position: relative;
    }

    &__overlay {
      @include transition;
      position: absolute;
      top: 1em;
      left: 1em;
      display: flex;
      flex-direction: column;
      width: calc(100% - 2em);
      height: calc(100% - 2em);
      background: rgba(255, 255, 255, 0.7);
      justify-content: center;
      align-items: center;
      opacity: 0;
    }
  }

  &:hover .product__overlay {
    opacity: 1;
  }

  .woocommerce-loop-product__title {
    @include body-large();
    text-align: center;
    @include transition();

    &:hover {
      opacity: 0.7;
    }
  }

  .price {
    text-align: center;
    color: inherit;
  }
}

// Single product

.woocommerce div.product p.price {
  color: #000;
  @include body-large();
  font-weight: 700;
}

.woocommerce .product .quantity .qty {
  margin-right: 1em;
}

// Cart

.woocommerce-info,
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border-top-color: #000;
  color: #000;

  &::before {
    color: #000;
  }
}

.woocommerce table.shop_table,
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  border-radius: 0;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
  border-color: inherit;
}

// Account

.woocommerce-MyAccount-navigation ul {
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.woocommerce-MyAccount-navigation-link {
  margin: 0.5em;
}

.woocommerce-MyAccount-navigation-link a {
  color: #666;
  @include transition();
}

.woocommerce-MyAccount-navigation-link.is-active a,
.woocommerce-MyAccount-navigation-link a:hover {
  color: #000;
  opacity: 1;
}

.image-row .wp-block-group__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image-row .wp-block-image {
  margin: 0;
}

.wp-block-image figure figcaption {
  text-align: center;
}

.bio {
  text-align: justify;

  &__hidden {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .main-header {
    &__menu .menu-item {
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-header {
    @include transition();
    height: 80px;

    &__logo {
      position: absolute;
      top: 24px;
      left: 24px;
      z-index: 2;
    }

    &__button {
      display: block;
    }

    &--active {
      background: #fff !important;
      height: 100%;
    }

    &__nav {
      @include transition();
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto;

      .main-header--active & {
        opacity: 1;
        visibility: visible;
        height: calc(100vh - 20px);
      }
    }

    &__nav-container {
      width: 100%;
    }

    &__menu {
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding: 7em 0 2em;

      .menu-item {
        margin: 4px 10px;

        &-has-children {
          & > a {
            display: none;
          }
        }

        &:last-of-type {
          margin-right: 10px;
        }
      }

      .sub-menu {
        position: initial;
        visibility: visible;
        opacity: 1;

        .menu-item {
          margin: 8px 10px;

          &:first-of-type {
            margin-top: 0;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          a {
            padding: 0 !important;
          }
        }
      }
    }
  }

  .blocks-gallery-grid.columns-3 .blocks-gallery-image,
  .blocks-gallery-grid.columns-3 .blocks-gallery-item,
  .wp-block-gallery.columns-3 .blocks-gallery-image,
  .wp-block-gallery.columns-3 .blocks-gallery-item {
    width: calc(50% - 8px);

    &:nth-of-type(3n) {
      margin-right: 16px;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    &__logo {
      height: 32px;
    }

    &__logo-img {
      width: 160px;
    }
  }

  .hero-slider {
    &__title {
      font-size: 32px;
    }
  }

  .footer {
    flex-direction: column;

    &__col {
      text-align: center;
      margin: 1em auto;
      width: 100%;

      &--credits {
        order: 3;
      }
    }

    &-exhibition__name::after,
    &-exhibition__artists::after {
      margin-left: auto;
      margin-right: auto;
    }

    &__info {
      margin-bottom: 0;
    }

    &__legal-links a {
      display: block;
    }
    
    &__legal-links span {
      display: none;
    }

    &__social-links {
      justify-content: center;
    }
  }

  .blocks-gallery-grid.columns-3 .blocks-gallery-image,
  .blocks-gallery-grid.columns-3 .blocks-gallery-item,
  .wp-block-gallery.columns-3 .blocks-gallery-image,
  .wp-block-gallery.columns-3 .blocks-gallery-item {
    width: 100%;
    margin-right: 0;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .single-exhibition {
    aside {
      display: block;

      & > div {
        margin: 3em 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .single-post {
    display: block;

    &__col {
      width: 100%;
      margin: 3em 0;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__date {
      text-align: center;
    }

    .share {
      margin: 2em auto 0;
    }
  }

  .woocommerce.post-type-archive-product ul.products li.product {
    width: 100%;
    float: none;
    margin: 0 0 2em;
  }

  .woocommerce-account .woocommerce-MyAccount-navigation {
    margin-bottom: 3em;
  }

  .cols {
    display: block;
  }

  .col-half {
    width: 100%;
    margin: 0 0 4em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .single--exhibition {
    .single__header {
      padding: 0;
    }
  }

  .exhibition {
    &__arrow {
      display: none;
    }
  }

  .single-viewing-room {
    .single {
      &__title {
        font-size: 2.25em;
      }
    }

    .extra {
      &__link {
        font-size: 1.125em;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .wp-block-column:not(:first-child) .related-block {
    padding-left: 2em;
  }
}

@media screen and (max-width: 599px) {
  .wp-block-column:not(:first-child) .related-block {
    padding-top: 2em;
  }
}
